@page "/"
@using BlazorApp.Shared
@inject ILogger<Index> Logger;

<PageTitle>Gresham Powersports - Rentals</PageTitle>

<div class="container-fluid">
    <h1>Rentals</h1>

    @if (Rental is null)
    {
        <Spinner />
    }
    else
    {
        <EditForm Model="@Rental"
                  OnValidSubmit="@Submit"
                  name="rental-form">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <CascadingValue Value="Rental">
                <div class="row g-3 mb-3">
                    <div class="col-12">
                        <h2>Choose Dates</h2>
                    </div>
                    @* ReSharper disable once Html.IdNotResolved *@
                    <label for="start-date" class="col-md-2 col-form-label text-bold">From</label>
                    <div class="col-md-5">
                        <DateInput ElementId="start-date"
                                   TValue="DateOnly"
                                   @bind-Value="@Rental.StartDate"
                                   Placeholder="Enter a Start Date" />
                    </div>
                    <div class="col-md-5">
                        <TimeInput ElementId="start-time"
                                   TValue="TimeOnly"
                                   @bind-Value="@Rental.StartTime"
                                   Placeholder="Enter a Start Time" />
                    </div>
                    @* ReSharper disable once Html.IdNotResolved *@
                    <label for="end-date" class="col-md-2 col-form-label">To</label>
                    <div class="col-md-5">
                        <DateInput ElementId="end-date"
                                   TValue="DateOnly"
                                   @bind-Value="@Rental.EndDate"
                                   Placeholder="Enter Date" />
                    </div>
                    <div class="col-md-5">
                        <TimeInput ElementId="end-time"
                                   TValue="TimeOnly"
                                   @bind-Value="@Rental.EndTime"
                                   Placeholder="Enter a End Time" />
                    </div>
                    <div class="col-12">
                        <h2>Type of Bike</h2>
                    </div>
                    <div class="col-12">
                        <CategorySelector />
                    </div>
                    <div class="col-12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            @* ReSharper disable once Html.AttributeValueNotResolved *@
                            <Button Type="ButtonType.Submit"
                                    Color="ButtonColor.Success">
                                Submit
                            </Button>
                        </div>
                    </div>
                </div>
            </CascadingValue>
        </EditForm>
    }
</div>

@code{
    public Rental? Rental { get; set; }

    protected override void OnInitialized()
    {
        var now = DateTime.Now;
        var start = now.AddHours(1);
        var end = start.AddDays(1);

        Rental ??= new Rental
        {
            Id = Guid.NewGuid(),
            StartDate = DateOnly.FromDateTime(start),
            StartTime = TimeOnly.FromDateTime(start),
            EndDate = DateOnly.FromDateTime(end),
            EndTime = TimeOnly.FromDateTime(end)
        };
    }

    private void Submit()
    {
        if (Rental is null)
            throw new NullReferenceException($"{nameof(Rental)} ({typeof(Rental).FullName}) cannot be null");

        Logger.LogInformation($"{nameof(BlazorApp.Shared.Rental)} #{Rental.Id} ({Rental.StartDate}-{Rental.EndDate}) submitted @ {DateTime.Now}");
    }
}